

.container{
    max-width: 1440px;
    height: 85vh;

    margin: 0 auto;
    padding: 36px 16px;

    overflow: none;

    display: flex;
    flex-direction: row;
    align-items: center;

    @include responsive(){
        flex-direction: column;
        height: auto;
        overflow: hidden;
    }
}

.container-item-1{
    max-width: 576px;

    display: flex;
    flex-direction: column;
    align-items: border;
}

.container-item-2{
}

.flex{
    display: flex;
}

.w-auto{
    width: auto;
}

.align-items-center{
    align-items: center;
}

.btn{
    display: inline-block;


    padding: 12px 32px ;
    border-radius: 3px;

    transition: .7s ease;
    transform: skew(-10deg);
    text-transform: uppercase;

    background: linear-gradient(267.72deg, $red-light 0.88%, $red 100%);

    position: relative;

    &::after{
        content: '';
        display: block;
        position: absolute;
        top: -2px;
        left: -2px;

        width: 20%;
        height: 70%;
        opacity: 0;

        transition: .7s ease;
        border-radius: 3px;

        border-top: 3px solid #fff;
        border-left: 3px solid #fff;

    }

    &::before{
        content: '';
        display: block;
        position: absolute;
        bottom: -2px;
        right: -2px;

        width: 20%;
        height: 70%;
        opacity: 0;

        border-radius: 3px;

        border-bottom: 3px solid #fff;
        border-right: 3px solid #fff;

    }
    
    &:hover{
        transform: skew(-10deg) scale(1.05);
        &::after{
            opacity: 1;
        }
        &::before{
            opacity: 1;
        }
    }
}

.btn-secondary{

    border: 10px solid green;

    display: inline-block;
    border: 2px solid red;

    padding: 5px 15px;
    border-radius: 3px;

    transition: .7s ease;
    transform: skew(-10deg);
    text-transform: uppercase;

    //background: transparent;
    backdrop-filter: blur(10px);

    position: relative;

    &::after{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(267.72deg, $red-light 0.88%, $red 100%);

        z-index: -1;


        width: 0;
        height: 100%;
        transition: .7s ease;
    }

    &:hover{

        &::after{
            width: 102%;
    
        }
    }
}

.bg-video{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    z-index: -1;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    &::after{
        content: '';
        width: 100%;
        height: 100vh;

        position: absolute;
        top: 0;
        left: 0;
        display: block;
        
        background: linear-gradient(110deg, #0B0C10 7.11%, rgba(11, 12, 16, 0.80) 45.27%, #0C0C10 86.31%);
    }
}

.bg-loader{


    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(225deg, $red 0%, $red-dark 100%);
}

