header{
    width: 100%;
    padding: 16px;
}

.nav-bar{
    max-width: 1440px;

    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    
}

.nav-list{
    list-style: none;
    display: flex;
    
    li{
        margin-left: 16px;
    }

    @include responsive(){
        display: none;
    }
}

.logo{
    max-width: 88px;
}



.nav-link{
    display: inline-block;

    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 200;

    color: $gray-3;

    padding: 8px 16px;
    transition: .7s ease;

    position: relative;

    &::after{
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        top: -40px;

        width: 2px;
        height: 0px;
        background-color: red;
        transition: .7s ease;

        background: linear-gradient(359.94deg, #E11C21 0.06%, rgba(225, 28, 33, 0) 101.91%);
    }

    &:hover{
        color: $white-light;

        &::after{
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            top: -40px;
    
            width: 2px;
            height: 40px;
            background-color: red;
    
            background: linear-gradient(359.94deg, #E11C21 0.06%, rgba(225, 28, 33, 0) 101.91%);
        }
    }
}

.bx{

    @include responsive(){
        display: block;
    }
    
    display: none;

    width: 48px;
    height: 48px;

    background-color: $white;

    border: 8px;

}

.nav-social{
    display: flex;

    @include responsive(){
        display: none;
    }

    svg{
        cursor: pointer;

        margin-left: 16px;
        width: 24px;

        path,circle{
            transition: .7s ease;
        }

        &:hover{
            path, circle{
                fill: $red-light;
                transform: translate3d(0,-3px,0);
            }
        }
    }
    
}

.spiderman{
    width: 145%;
    transform: translate3d(-180px,0,0,);

    @include responsive(){
        width: 100%;
        transform: translate3d(0,0,0);
    }
}

.hero2{
    width: 100%;
    height: 100vh;
    background-color: $blue-dark;
}